/*****************/
/* WEBSITE FONTS */
/*****************/

@font-face {
    font-family: 'chunkfive_printregular';
    src: url('/assets/fonts/chunkfive_print_400-webfont.woff2') format('woff2'),
         url('/assets/fonts/chunkfive_print_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

	/* Note voor mijzelf: Gebruik die twee als font in de pagina */
	/* font-family: 'proxima-nova', 'sans-serif'; */
	/* font-family: 'chunkfive_printregular', 'sans-serif'; */

}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* kleuren */
	--text-and-footer-color:#191919;
	--sticky-header-color: #003E55;
	--light-blauw-color: rgb(215,233,249);
	--laatbezorgen-knop-color: #2C2A29;
	--white-text-and-box-color: #FFFFFF;
	--icon-background-color: #FFB915;
	--second-section-background-color: #D9E8F7;
	--knop-color: #0475A1;
	--first-footer-deel-color: #3A780E;
	--website-background-color: linear-gradient(180deg, rgba(87,161,205,1) 0%, rgba(212,227,239,1) 100%);

}

	

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* ALLES */

* {
	font-family: 'proxima-nova', 'sans-serif';
}


/* BODY */

body {
	color:var(--color-text);
	background-image: var(--website-background-color);
	background-repeat: no-repeat;
	height: 100%;
	margin:0;
	position: relative;
  }

/* alle list elementen list decoration */
li {
	list-style: none;
}

/* BUNU GECIRMEDIMM!!!!!! */
/* h3 {
	display: flex;
} */

/* HEADER */


header {
	/* background kleur */
	background-color: var(--sticky-header-color);
	/* om header sticky te maken */
	position: sticky;
	/* voor Safari */
	position: -webkit-sticky; 
	/* waar wil ik het stickky maken */
	top: 0;

	/* flex maken zodat de elementen naast elkaar nog beter kunnen staan */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	/* elementen toestemming geven om een andere rij te staan */
	/* hulp gekregen van Sanne */
	flex-wrap: wrap;
	
	/* om header helemaal voor halen */
	z-index: 1;
}



/* navbar start */
/* NOG TE DOEN */

nav {
	position: fixed;
	inset: 0;
	background-color: #FFB915;
	transform: translateY(-100%);
	transition: .5s;
}

header.menuOpen nav {
	transform: translateY(0);
}

/* navbar end */


/* @MEDIA NODIG DAHA GECIRMEDIM!!!!!!!!!!!! */
/* logo start */
/* header > a:nth-of-type(1) {
	margin-right: auto;
	order: -1;
}

header > a:nth-of-type(1) img {
	height: auto;
	width: 30vw;
	
} */
/* logo end */

/* media dingen start*/

@media screen and (min-width: 768px) {
	main {
		background-color: #ffb9153a;
		
	}
}

@media screen and (max-width: 768px) {
	/* logo part van media */
	header > a:nth-of-type(1) {
		margin-right:auto;
	}
	
	header > a:nth-of-type(1) img {
		height: auto;
		width: 30vw;
  	}
}
/* media dingen end */

/* "laat ben en jerry's..." tekst goede plek zetten start*/
header > p {
	order:-2;
	background-color: var(--laatbezorgen-knop-color);
	color: var(--white-text-and-box-color);
	width:100%;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-family: 'proxima-nova', 'sans-serif';
}

header > p a {
	color: var(--color-text);
}

/* "laat ben en jerry's..." tekst goede plek zetten end*/

/* hamburger menu inside styling */
header nav ul li {
	list-style: none;
	text-transform: uppercase;
	display: flex;
	justify-content: space-around;
}

header nav ul li a {
	font-family: 'chunkfive_printregular', 'sans-serif';
	margin-bottom: 1em;
	font-size: 1.5em;
	flex-wrap: nowrap;
	text-align: center;
}

header nav ul li:nth-of-type(1) a {
	margin-top: 7em;

}

/* hamburger menu knop styling start*/

header button {
	display:grid;
 	place-items:center;
	background-color: transparent;
	border: none;
	width: 1.5em;
	height: 1.5em;
	position: relative;
	margin-right: 1em;
	order:2;
	z-index: 100;
}

header button span {
	position: absolute;
	width: 1.2em;
	height: .2em;
	background-color: var(--white-text-and-box-color);
	transition-duration: .5s;
}

header button span:nth-of-type(1) {
	transform:translateY(.4em);
}

header button span:nth-of-type(3) {
	transform:translateY(-.4em);
}

header button.menuOpen span:nth-of-type(1) {
	transform:rotate(45deg) scaleX(1.25);
}

header button.menuOpen span:nth-of-type(2) {
	transform: scaleX(0);
}

header button.menuOpen span:nth-of-type(3) {
	transform:rotate(-45deg) scaleX(1.25);
}


/* header button {
	border-style: none;
	min-width: auto;
	background-color: var(--sticky-header-color);
	order: 1;
	margin: 0;
	padding: 0;
	margin: 1em; 
}

header button img {
	height: auto;
	width: 20px;
} */
/* hamburger menu knop styling end*/

/* alle linken in header */
header a {
	color: var(	--white-text-and-box-color);
	text-decoration: none;
	font-family: 'proxima-nova', 'sans-serif';

}

/* alle linken */
a {
	color: var(	--white-text-and-box-color);
	text-decoration: none;
}

/* tweede child van het parent in het header ("nu bezorgen" linkje) */
header > a:nth-of-type(2) {
	/* order: 1; */
	color: var(	--white-text-and-box-color);
	text-decoration: none;
	font-family: 'chunkfive_printregular', 'sans-serif';
	font-weight: 400;
	text-transform: uppercase;
	width: 7rem;
    text-align: center;
	border-right: 2px solid var(--white-text-and-box-color);
	padding-right: 1em;
}

/* MAIN */
/* header weg maken */
main > h1 {
	display: none;
}


/* styling alle sections */
section {
	position: relative;
 	text-align: center;
  	color: var(--white-text-and-box-color);
	/* om section elementen onder de header te zetten */
	z-index: -1;
	/* Onder sections margin toe te voegen */
}

/* alle h1 en h2 titels in het sections */
section h1, h2 {
	font-family: 'chunkfive_printregular', 'sans-serif';
}
 
/* EERSTE SECTION */

/* BU KISMI GECIRMEDIM */
/* main .eerst-section {
	background-repeat: no-repeat;
	background-size: cover!important;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
} */


main .eerst-section img{
	width: 100%;
	max-width: 760px;
	height: auto;
}



/* GECIRMEDIM MATIKLI DEGILDI */

/* "lees meer" kismiyla alakali. responsive degil! */
.eerst-section a {
	
	background-color: var(--white-text-and-box-color);
	color: var(--text-and-footer-color);
	padding-right: 2em;
	padding-left: 2em;
	padding-top: .75em;
	padding-bottom: .75em;
	width: 30%;
	position: absolute;
	bottom: 8%;


	/* display: flex; */
	/* flex-wrap: nowrap; */
}

/* media nodig */
/* titel op de img te komen*/
.eerst-section h2 {
	position: absolute;
	bottom: 18%;
	margin-bottom: 2em;
	
}

/* TWEEDE SECTION */

/* section met iconen deel start*/
main section[aria-label="Onze producten, waarden & missie"] {
	margin-bottom: 1em;
	display: grid;
	gap: 3em;
	padding: 3em;
	background-image: url(/images/background-section-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}

main section[aria-label="Onze producten, waarden & missie"] article{
	width: 100%;
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 3;
	column-gap: 1em;
}

main section[aria-label="Onze producten, waarden & missie"] article img {
	width: 6em;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: span 3;
	justify-self: end;
}

main section[aria-label="Onze producten, waarden & missie"] article h2 {
	grid-column-start: 2;
	grid-column-end: 3;
	text-align: start;
	margin: 0;
	color: var(--text-and-footer-color);

}

main section[aria-label="Onze producten, waarden & missie"] article p {
	text-align: start;
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 0;
	padding: 0;
	color: var(--text-and-footer-color);
}

main section[aria-label="Onze producten, waarden & missie"] article a {
	grid-column-start: 2;
	text-align: start;
	font-size: 1.2em;
	color: var(--knop-color);
}

/* section met iconen deel end */

/* DERDE SECTION */

/* direct child of main gekozen */
main > img {
	width: 100%;
	height: auto;
	margin: 0;
	position: absolute;
	
}


main > section:nth-of-type(3) {
	padding: 2em;
	
}

main > section:nth-of-type(3) ul{
	padding: 2em;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1em;
}

main > section:nth-of-type(3) li{
	padding: 1em;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 15em;
	gap: 1em;
	background-color: var(--second-section-background-color);
	border-radius: 2%;
}

main > section:nth-child(3) ul li h3 {
	padding-top: 10em;
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1;
}

main > section:nth-of-type(3) img {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-column-end: 2;
}


/* VIERDE SECTION */










/* FOOTER */































/* TWEEDE PAGINA SPECIALE STYLINGEN */

.second-page-sections ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.second-page-sections ul li h3{
	
}