/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--sticky-header-color: #096182;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* HEADER */

header {
	background-color: 	var(--sticky-header-color);
	display: flex;

}

.logo {
	height: 50px;
	width: auto;
}

header nav ul li {
	list-style: none;
	
}


body {
  color:var(--color-text);
  background-color:var(--color-background);
}

